#body {
  background-color: #fdf6d3;
  align-items: center;
  align-content: center;
  justify-content: center;
}


.setup-container, .preview-container {
  width: 550px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0px auto 20px;
}

.setup-container { 
  margin-top: 6rem;
}

@media (min-width: 250px) and (max-width: 560px) {
  .setup-container, .preview-container {
    width: 90vw;
  }
}

#preview-section {
  background: #fff9c4;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(255, 215, 0, 0.5);
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.form-label {
  font-weight: 600;
}

#reset-voting {
  transition: all 0.3s ease;
 }

#reset-voting:disabled {
  opacity: 0.7;
  cursor: not-allowed;
 }

#reset-feedback {
  display: flex;
  justify-content: center;
  min-height: 50px;
}

